body{
    margin:0;
}
form{
    background-color: dodgerblue;
    color: aliceblue;
    width:50%;
    padding: 4%;
    margin: auto;

}
.container{width: 80%;
    margin: auto;

}
label{font-family: Algerian sans-serif;
    font-size: 25px;
    color: yellow;
}
.input{width: 90%;
    border: 2px solid orangered;
    text-align: center;
    height: 30px;
    font-size: 25px;
}
select{width: 40%;
    background-color: yellow;
    border: 2px solid red;
    text-align: center;
    font-size: 25px;
}

#fil{
    width: 20%;
    background-color: yellowgreen;
}
#res{ width: 25%;
    height: 40px;
     font-size: 25px;
     background-color: indigo;
     color: ivory;
}
#sub{
    width: 25%;
    height: 40px;
    background:green;
    font-size: 25px;
    color: lavender;
}
form h1{ text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}
#sin {
    width: 20%;
    height: 20px;
    background-color: black;

    color: white;
}
#sin a{
    text-decoration:none ;
    color: blanchedalmond;
}
table{
    width: 70%;
    background-color: gray;
    border: 3px solid black;
    border-spacing: 3px;
    

}
h1{text-align: left;
text-transform: uppercase;
}
caption{background-color: indigo;
color: wheat; 
text-transform: capitalize;
font-size: 25px;
}
tr :nth-child(2){background-color: blueviolet;
    color: white;
}

tr :nth-child(4){background-color: blueviolet;
    color: white;
}
tr :hover{background-color: rgb(226, 43, 134);
    color: black;
}
th{
    text-transform: uppercase;
    padding: 10px;
}

 th,td{
    border: 2px solid black;
    color: blanchedalmond;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    
}

    

